/*
 * extra vanilla skin                          
 * additional .css on top of jspwiki.css 
 */
/* +++ 010 LAYOUT of main ID blocks +++ */
#wikibody                { margin: 0px 0; }
//#header                  { margin: 0 20px; padding-left: 180px;}
#page,
#actionsBottom,
#footer                  { margin-left: 200px;  margin-right: 20px; }
#favorites               { position:absolute; left: 20px; width: 170px; 
                           top: 100px; /* make place for the logo */ } 
#actionsTop              { position:absolute; right: 25px; margin-top: 2px; z-index: 0; 
                           font-size: 11px; }
/* +++ 020 LOOK and FEEL of main blocks with ID +++ */
#actionsBottom           { font-size: 11px; margin-top: 15px; margin-bottom: 5px; }
#actionsBottom .actionHome,
#actionsBottom .actionView,
#actionsBottom .actionEdit,
#actionsBottom .actionComment,
#actionsBottom .actionPrefs,
#actionsBottom .actionAttach, 
#actionsBottom .actionInfo,
#actionsBottom .actionIndex,
#actionsBottom .actionRecentChanges 
                         { display: none; }
.pageactions .pageinfo   { display: inline;  }
#footer                  { margin-top: 0px ; padding: 5px 0; 
                           border: 1px solid #b6b6b6; }
/* +++ 200 Generic stuff here +++ */
body                     { background-color: white; }
body, p, table, tr, td   { font-family: lucida,arial,helvetica,sans-serif;
	                       font-size: 12px; line-height: 16px; color: #454545; }
/* +++ 210 Page titles, headings, and paragraphs +++ */
.pagename                { font-size: 30px; color: #3E6A8F; line-height: 28px; font-family: lucida,arial,helvetica,sans-serif; padding-left: 200px; font-weight: normal !important; }
h2,h3,h4                 { color: #3E6A8F; }
h2                       { font-size: 2.0em; line-height: normal; font-weight: normal; margin-bottom: 0.2em; }
h3                       { font-size: 1.6em; line-height: normal; font-weight: normal; margin-bottom: 0.2em; }
h4                       { font-size: 1.0em; line-height: normal; font-weight: bold; margin-bottom: 0.2em; }
/* +++ 220 Lists and bullets +++ */
/* +++ 225 Forms, Labels, form-values and form-help +++ */
/* +++ 230 Horizontal rules +++ */
hr                       { border-top: 1px solid #eee; background-color:transparent;
                           height: 0px; width:100%; text-align:center; }
/* +++ 240 Pre-formatted text blocks and code +++ */
tt,pre                   { font-size: 11px; line-height: 13px; 
                           font-family:Monaco, "Courier New", Courier, mono;}
pre                      { background: #eee; border: 1px dashed #b6b6b6; 
                           color: black; padding: 3px; }
/* +++ 250 Hyperlinks +++ */
A:link, /*A:visited,*/ A:active 
                         { /*color: inherit;*/ 
                           color: blue;
                           text-decoration: none; 
                           border-bottom: 1px solid #35556B; }
A.visited				 {color:#9900FF}
A.editpage               { color: #666; border-bottom: 1px dashed #c00; }
A.editpage:hover         { border-bottom: 1px solid #c00; }
A.wikipage:hover         { border-bottom: 1px solid #999; }
.calendar a,
.breadcrumbs a,
.applicationlogo a       { border-bottom:none !important; }
/* +++ 260 Image styles, and Logo +++ */
#header .applicationlogo { left: 5px; top: 10px; }
.applicationlogo a       { display: block; height: 72px; width: 353px; 
                           margin: 0px 0px -10px 30px;
                           background-image: url(images/Logo6.gif) ; }
.applicationlogo a:hover { background-image: url(images/Logo6.gif) ; }
/* +++ 270 Footnotes and small text +++ */
.small                   { font-size: 10px; }
.sub                     { font-size: 10px; }
.sup                     { font-size: 10px; }
/* +++ 280 Convenience styles and info/warning/error dialogs +++ */
.information             { border: 1px solid #3c78b5; background-color: #e0e0ff; }
.warning                 { border: 1px dashed #bbbbbb; background-color: #ffcccc; }
.error                   { border: 1px dashed #c00000; background-color: #ffcccc; color: #c00000; }
/* +++ 290 Comment boxes (used on some pages) +++ */
.commentbox              { border: 1px dashed #b6b6b6; background: #eee; }
/* +++ 300 Wiki tables and zebra tables +++ */
table                    { border-collapse: collapse; }
table.wikitable * td     { text-align: left; padding: 4px; 
                           border: 1px solid #cccccc; }
table.wikitable * th     { text-align: center; padding: 4px; color: #000000;
                           background: #f0f0f0; border: 1px solid #cccccc; }
.zebra-table th          { background: #f0f0f0; }    
.zebra-table tr.odd td   { background: #f7f7f7; }
/* +++ 350 Attachments +++ */
/* +++ 400 Styles for specific JSPs +++ */
/* +++ 405 AttachmentTab.JSP +++ */
#attachImg               { border: 1px solid #b6b6b6; }
#attachImg img           { border: 0; padding:0; }
/* +++ 410 CommentContent +++ */
/* +++ 415 ConflictContent +++ */
/* +++ 420 DiffContent and Diff Providers: Traditional and External +++ */
/* +++ 421 Contextual diff provider +++ */
/* +++ 425 Edit/EditContent and CommentContent +++ */
/* +++ 430 Edit/EditContent +++ */
/* +++ 440 Favorites +++ */
/* +++ 450 FindContent / 450 Graph Bars +++ */
.graphBar                { border-color: #fad112; }
/* +++ 455 Footer +++ */
.copyright               { color: #c00; font-weight:bold; margin: 0 200px; 
                           font-size: .90em; line-height: normal;}
.wikiversion             { font-size: .90em; line-height: normal;} 
/* +++ 460 Header +++ */
.banner,
/* #header                  { background-image: url(images/header-bg.gif); } */
.banner                  { color: white; padding: 4px; }
.banner h2,
.banner h3,
.banner h4               { color: white; margin: 0;}
.breadcrumbs,
.breadcrumbs a:link,
.breadcrumbs a:visited,
.breadcrumbs a:active    { font-size: 9px; color: #35556b !important; }
/* +++ 465 InfoContent +++ */
/* +++ 470 PageActions.jsp +++ */
.pageactions             { padding: 0; }
.pageactions span,
.pageactions .pageinfo,
.pageactions .quicklinks { padding: 4px; margin: 0; 
                           font-size: 1em; line-height: normal; 
                           background: transparent;
                           border-right: 1px solid #b6b6b6; }
.pageactions .pageinfo   { border-right: none; border-left: 1px solid #b6b6b6; }
.pageactions .quicklinks { border: none; }
.pageactions a:link,
.pageactions a:visited   { border-bottom: none; font-weight: bold; 
                           color: #666; background: transparent; }
.pageactions span:hover  { background: #fad112; }
/* +++ 475 PageContent.jsp +++ */
/* +++ 475 PreviewContent - "This is a preview" comment +++ */
.previewcontent          { background: white url(images/preview.png); 
                           border: 1px solid #b6b6b6; }
/* +++ 480 PreferencesContent, LoginContent, GroupContent +++ */
#userPrefs tr td         { padding: 5px ; }
#userPrefs tr th         { text-align: right; }
/* +++ 485 SearchBox +++ */
#header .searchbox       { background: url(images/search.png) 0 center no-repeat; 
                           padding-left: 20px; margin-top: -20px;}
#header a:link, 
#header a:visited,
#recentSearches          { color: #666;  }
#searchboxMenu           { border: 1px solid #b6b6b6; font-size: 90%;} 
.searchbox input         { height:16px; }
/* +++ 490 ViewTemplate +++ */
/* +++ 600 JSPWiki plugins +++ */
/* +++ 610 Image plugin +++ */
/* +++ 203 image plugin stuff +++ */
/* +++ 620 Index plugin +++ */
.index .header           { padding: 4px; color: #c00; background: #fad112;
                           font-size: 16px; font-weight: bold; text-align:center; }
/* +++ 625 Table of contents plugin +++ */
.toc                     { margin: 0 15%; overflow: auto;  }
.toc h4                  { background: transparent; border-bottom: 1px dashed #b6b6b6; padding: 0.5em; }
.toc li a                { color: black; border-bottom: none; text-decoration: none; }
/* +++ 630 Weblog and weblogarchive plugins +++ */
.weblogentryheading      { background: #fad112; }
.weblogentrytitle        { color:#c00; }
/* +++ 800 JSPWiki JSP Taglibs +++ */
/* +++ 805 CalendarTag +++ */
table.calendar td.othermonth 
                         { color: silver; }
table.calendar a         { color: #c00; font-weight:bold; }
table.calendar td.month  { font-size: 100%;  }
table.calendar td.weekdays
                         { font-size: 0.8em; padding: 0 0.2em; color: #c00; }
/* +++ 900 "Special-effects" JavaScript styles +++ */
/* +++ 905 Search highlights +++ */
/* +++ 910 Tabbed Pages +++ */
.tabs                    { border:1px solid #b6b6b6; border-top: none;
                           padding: 10px 10px 10px 15px; }
.tabmenu                 { border-bottom: 1px solid #b6b6b6; padding: 2px 10px; font-size: 12px; }
/* ie */
* html .tabmenu          { margin-top: 1px; }
.tabmenu a,
.edit .tabmenu a         { margin: 0 0 0 4px; padding: 2px 4px;
                           border: 1px solid #b6b6b6;
                           color: gray; background: #eee; }
.tabmenu a:hover, 
.edit .tabmenu a:hover   { color: #c00;  }
.tabmenu a.activetab, 
.edit .tabmenu a.activetab 
                         { color: black; background: white; 
                           border-bottom: 1px solid white; }
/* +++ 920 Collapsable lists +++ */
.collapseBullet,
.collapseOpen,
.collapseClose           { color: #ED9B4F; }
.collapsebox .collapseOpen,
.collapsebox .collapseClose 
                         { font-size: 10px; }
.collapseOpen:hover,
.collapseClose:hover     { background: #fad112; color: #ED9B4F; }
/* +++ 930 Sortable tables +++ */
/* +++ 940 Quick Section Links +++ */
.quicklinks              { font-size: 12px; padding: 0 2px; }
.quicklinks, 
.quicklinks a            { background: #fad112; color: #c00; border: none; }
.pageactions .quicklinks { font-size: 10px; }
.categoryLink:link,
.categoryLink:active,
.categoryLink:hover,
.categoryLink:visited    { border-bottom: 2px solid #ffcc33 !important; } 
#tb button:hover { background-color: #fad112; } 
/* Additional styles for the Open ESB site */
//#gradient				 {background-image: url(images/bar.gif); background-repeat: repeat-y; }
#gradient
#underline				{background-image: url(images/underline.gif); background-repeat: repeat-y; margin-left:210px; margin-top:90px;}
.iconlist
{
list-style: none;
display: inline;
}
li.documentation
{
 width: 81px; height: 65px; float: right; margin-top: -60px; padding-left: 15px; background-repeat: no-repeat;
/*background-repeat: no-repeat;
background-position: 0% -50;
padding: 3px 0 3px 20px; 
margin-top: -50pt;
float: right;
background-image: url(images/documentation.png);
*/
}
 li.link
{
width: 64px; height: 65px;  float: right;margin-top: -60px; padding-left: 23px; background-repeat: no-repeat;
/*background-repeat: no-repeat;
background-position: 0% -50;
padding: 3px 0 3px 20px;
margin-top: -50;
float: right;
background-image: url(images/links.png);
*/
}
 li.participate
{
width: 61px; height: 68px; float: right; margin-top: -60px; padding-left: 23px; background-repeat: no-repeat;
/*background-repeat: no-repeat;
background-position: 300 10%;
padding: 3px 0 3px 20px;
margin: .4em 0;
background-image: url(images/participate.png); 
*/
}
 li.downloads
{
 width: 61px; height: 65px; float: right;margin-top: -60px; padding-left: 23px; background-repeat: no-repeat;
/*background-repeat: no-repeat;
background-position: 400 10%;
padding: 3px 0 3px 20px;
margin: .4em 0; 
background-image: url(images/downloads.png);
*/
}
*/
/* */
#z_menu_01 {}
#z_menu_01 A { border-bottom: 0px; }
#z_menu_01 {float:left; padding:0; margin:0;color: #FFFFFF;background: #ED9B4F;width:100%; border:solid 1px #F7CDA8;clear:both;} /*Color navigation bar normal mode*/
#z_menu_01  a, #z_menu_01 a:visited {
font-family:Arial, Helvetica, sans-serif;
font-style:normal;
font-weight:normal;
font-size:12px;
color: #FFFFFF;
background-color: #ED9B4F;
text-decoration: none;
}
#z_menu_01 ul {list-style-type:none;padding:0; margin:0;}
#z_menu_01 ul li {float:left; position:relative; z-index:auto !important /*Non-IE6*/; z-index:1000 /*IE6*/; border-left:solid 1px #F7CDA8; }
#z_menu_01 ul li a {color: #FFFFFF !important; background: #ED9B4F;float:none !important /*Non-IE6*/; float:left /*IE-6*/; display:block; height:23px; line-height:23px; padding:0 10px 0 10px; text-decoration:none; }
#z_menu_01 ul li ul {display:none; border:none;color: #FFFFFF;background: #ED9B4F;}
#z_menu_01 ul li:hover a {background-color:#FFFFFC; text-decoration:none; color:#ED9B4F !important;} /*Color main cells hovering mode*/
#z_menu_01 ul li:hover ul {display:block;  position:absolute; z-index:999; top:22px; margin-top:1px; left:0;}
#z_menu_01 ul li:hover ul li a          {display:block; width:12em; height:auto; line-height:1.3em; margin-left:-1px; padding:2px 10px 2px 10px; border-left:solid 1px #F7CDA8; border-bottom: solid 0px #F7CDA8; background-color:#ED9B4F;  color:#FFFFFF !important; border-right: solid 0px #00FF00 !important;} /*Color subcells normal mode*/
#z_menu_01 ul li:hover ul li.cathead a  {display:block; width:12em; height:auto; line-height:1.3em; margin-left:-9px; padding:2px 10px 2px 10px; border-left:solid 1px #F7CDA8; border-bottom: solid 0px #F7CDA8; background-color:#FD9B4F;  color:#FFFFFF !important; font-weight: bold; border-top: solid 1px #F7CDA8; border-right: solid 8px #FD9B4F !important; } /*Color subcells normal mode*/
#z_menu_01 ul li:hover ul li.widemenu a {display:block; width:180px; height:auto; line-height:0px; margin-left:-1px; padding:0px 0px 0px 0px; border-left:solid 1px #F7CDA8; border-bottom: solid 1px #F7CDA8; background-color:#FFFFFF;  color:#ED9B4F !important; border-right: solid 0px #00FF00! important;} /*Color subcells normal mode*/
#z_menu_01 ul li:hover ul li a:hover          {background-color:#FFFFFD; text-decoration:none;color:#ED9B4F !important;} /*Color subcells hovering mode*/
#z_menu_01 ul li:hover ul li.cathead a:hover  {background-color:#FD9B4F; text-decoration:none;color:#FFFFFF !important; font-weight: bold; font-weight: bold; } /*Color subcells hovering mode*/
#z_menu_01 ul li:hover ul li.widemenu a:hover {background-color:#FFFFFD; text-decoration:none;color:#ED9B4F !important; font-weight: bold;} /*Color subcells hovering mode*/
#z_menu_01 table {position:absolute; top:0; left:0; border-collapse:collapse;color: #FFFFFF;background: #ED9B4F;}
#z_menu_01 ul li a:hover {background-color:#FFFFFC; text-decoration:none;color:#ED9B4F !important;} /*Color main cells hovering mode*/
#z_menu_01 ul li a:hover ul          {display:block; width:12em; position:absolute; z-index:999; top:22px; left:0; }
#z_menu_01 ul li a:hover ul.cathead  {display:block; width:12em; position:absolute; z-index:999; top:22px; left:0; font-weight: bold; }
#z_menu_01 ul li a:hover ul.widemenu {display:block; width:180px; position:absolute; z-index:999; top:22px; left:0; }
#z_menu_01 ul li a:hover ul li a          {display:block; width:12em; height:1px; line-height:1.3em; padding:4px 16px 4px 16px; border-left:solid 1px #F7CDA8; border-bottom: solid 1px #F7CDA8; background-color:#ED9B4F;  color:#FFFFFF;  border-right: solid 0px #00FF00 !important;} /*Color subcells normal mode*/
#z_menu_01 ul li a:hover ul li.cathead a  {display:block; width:12em; height:1px; line-height:1.3em; padding:4px 16px 4px 16px; border-left:solid 1px #F7CDA8; border-bottom: solid 1px #F7CDA8; background-color:#FD9B4F;  color:#FFFFFF !important; font-weight: bold;  border-right: solid 0px #00FF00 !important;} /*Color subcells normal mode*/
#z_menu_01 ul li a:hover ul li.widemenu a {display:block; width:180px; height:1px; line-height:0px; padding:0px 0px 0px 0px; border-left:solid 1px #F7CDA8; border-bottom: solid 1px #F7CDA8; background-color:#FFFFFF;  color:#ED9B4F !important;  border-right: solid 0px #00FF00 !important;} /*Color subcells normal mode*/
#z_menu_01 ul li a:hover ul li a:hover          {background-color:#FFFFFD; text-decoration:none;color:#ED9B4F;} /*Color subcells hovering mode*/
#z_menu_01 ul li a:hover ul li.cathead a:hover  {background-color:#FD9B4F; text-decoration:none;color:#FFFFFF; font-weight: bold; font-weight: bold; } /*Color subcells hovering mode*/
#z_menu_01 ul li a:hover ul li.widemenu a:hover {background-color:#FFFFFD; text-decoration:none;color:#ED9B4F; font-weight: bold; } /*Color subcells hovering mode*/
#rhstop { text-align: right; font-size: 11px; }
.breadcrumbs { display: none; }
#header { padding-top: 5px !important; }
#favorites            { display: none; }
.pagename2            { font-size: 18px; color: #3E6A8F; padding: 5px 10px 0px 15px; font-family: lucida,arial,helvetica,sans-serif; }
#page,#actionsBottom,#footer  { margin-left: 0px; margin-right: inherit; }
.pageactions a:link, 
.pageactions a:visited { font-weight: normal; color: #ED9B4F; text-decoration: none; }
.pageactions span:hover  { background: #FFFFFF; text-decoration: underline; }
#page                    { padding-left: 0px; padding-right: 0px; margin-left: -1px; margin-right: -1px; }
#page                    { margin-top: 0px; }
// Attach, page info, etc.
#page .tabmenu           { border-bottom: 1px solid #b6b6b6; padding: 2px 10px; font-size: 10px; font-weight: normal; margin-bottom: 5px; }
#page .tabmenu a,
#page .edit .tabmenu a         { margin: 0 0 0 4px; padding: 2px 4px; border-left: 0px ; border-top: 0px; color: #ED9B4F; background: #FFFFFF; font-weight: normal; font-size: 11px; }
#page .tabmenu a:hover, 
#page .edit .tabmenu a:hover        { color: #ED9B4F; font-weight: normal; font-size: 11px; }
#page .tabmenu a.activetab, 
#page .edit .tabmenu a.activetab    { color: #ED9B4F; font-weight: normal; background: white; border-bottom: 0px solid white; font-size: 11px; }
// Content tabs
#pagecontent .tabmenu           { border-bottom: 1px solid #b6b6b6; padding: 2px 10px; font-size: 11px; font-weight: bold; font-size: 11px; }
#pagecontent .tabmenu a,
#pagecontent .edit .tabmenu a         { margin: 0 0 0 4px; padding: 2px 4px; border: 1px solid #b6b6b6; color: gray; background: #eee; font-weight: bold; font-size: 11px; }
#pagecontent .tabmenu a:hover, 
#pagecontent .edit .tabmenu a:hover        { color: #c00; font-weight: bold; font-size: 11px; }
#pagecontent .tabmenu a.activetab, 
#pagecontent .edit .tabmenu a.activetab    { color: black; background: white; border-bottom: 1px solid white; font-weight: bold; font-size: 11px; }
#footer                  { border: 0px; }
.toc                     { margin: 0 0px; overflow: auto; background-color: #FFFFFF !important;}
.bigltbluebox2       {background:url("https://open-esb.dev.java.net/images/bg_navblue2.gif") repeat-x bottom left #DDE6EC; margin-bottom:10px; }
div.cornerTR {background:url("https://open-esb.dev.java.net/images/trcorner.gif") no-repeat top right; padding: 8px 0px 0px 0px; }
div.cornerTL {background:url("https://open-esb.dev.java.net/images/tlcorner.gif") no-repeat top left;  padding: 0px 0px 0px 0px; }
div.cornerBR {background:url("https://open-esb.dev.java.net/images/brcorner.gif") no-repeat bottom right;padding:0; height:8px; }
div.cornerBL {background:url("https://open-esb.dev.java.net/images/blcorner.gif") no-repeat bottom left; padding:0; height:8px; }
